<a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a> 
<footer class="footer row">
                    <div class="fix-width">
                        <div class="row">
                            <div class="col-lg-3 col-md-6"><img src="{{site.baseurl}}/images/logo-light-icon.png" alt="logo" /> <img src="{{site.baseurl}}/images/logo-light-text.png" alt="logo" />
                                <p class="m-t-30">
                                    <span class="text-white">Material Pro</span> is premium quality admin dashboard template with flat design. It is fully responsive admin dashboard template built with Bootstrap Framework, HTML5 & CSS3, Media query. </p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <ul class="footer-link list-icons">
                                    <li><a href="../material/index.html"><i class="ti-angle-right"></i> Dashboard 1</a></li>
                                    <li><a href="../material/index2.html"><i class="ti-angle-right"></i> Dashboad 2</a></li>
                                    <li><a href="../material/index3.html"><i class="ti-angle-right"></i> Dashboad 3</a></li>
                                    <li><a href="../material/index4.html"><i class="ti-angle-right"></i> Dashboard 4</a></li>
                                    <li><a href="../material/index5.html"><i class="ti-angle-right"></i> Dashboard 5</a></li>
                                    <li><a href="../material/index6.html"><i class="ti-angle-right"></i> Dashboard 6</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <ul class="footer-link list-icons">
                                    <li><a href="../material/widget-apps.html"><i class="ti-angle-right"></i> Widget Sections</a></li>
                                    <li><a href="../material/chart-chartist.html"><i class="ti-angle-right"></i> Chart Options</a></li>
                                    <li><a href="../material/form-layout.html"><i class="ti-angle-right"></i> Lots of Form Layouts</a></li>
                                    <li><a href="../material/table-data-table.html"><i class="ti-angle-right"></i> Data Table Options</a></li>
                                    <li><a href="../material/index.html"><i class="ti-angle-right"></i> Calendar Designs</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <ul class="footer-link list-icons">
                                    <li><a href="../material/app-email.html"><i class="ti-angle-right"></i> Inbox Layout</a></li>
                                    <li><a href="../material/pages-treeview.html"><i class="ti-angle-right"></i> Tree View Options</a></li>
                                    <li><a href="../material/ui-carousel.html"><i class="ti-angle-right"></i> Carousel Slider Option</a></li>
                                    <li><a href="../material/pages-gallery.html"><i class="ti-angle-right"></i> Gallery Option</a></li>
                                    <li><a href="../material/starter-kit.html"><i class="ti-angle-right"></i> Starter Pages</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 sub-footer">
                                <span>Copyright 2017. All Rights Reserved by <a class="text-white" href="#" target="_blank">Material Pro</a></span>
                                <span class="pull-right">Design & Developed by <a class="text-white" href="https://wrappixel.com" target="_blank">WrapPixel</a></span>
                            </div>
                        </div>
                    </div>
                </footer>

